<html>
    <head>
        <title>Business Information System</title>
    </head>
    <body bgcolor="yellow">
        <h1><center><font color="black ">ประวัติส่วนตัว</font></center></h1>
        <center><img src="assets/images/lek.jpg"width="400"height="400"></center>
        <h2 style="text-align: center">นางสาวธัญญาภรณ์ ศรีวิลัย</h2>
        <h2 style="text-align: center">ชื่อเล่น:ตัวเล็ก เกิดวันที่:20 กันยายน 2537 อายุ 24 ปี</h2>
        <h2 style="text-align: center">ศาสนา:พุทธส  ัญชาติ:ไทย</h2>
        <h2 style="text-align: center">ที่อยู่:37 หมู่ 1 บ้านเลิงบัว ตำบลเลิงใต้ อำเภอโกสุมพิสัย จังหวัดมหาสารคาม</h2>
        <h2 style="text-align: center">กำลังศึกษาที่:มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขต ขอนแก่น</h2>


    </body>
</html>